---
import HomeIcon from "../icons/HomeIcon.astro";
import LightDarkButton from "../components/LightDarkButton.astro";
import LogoIcon from "../icons/LogoIcon.astro";
---

<!DOCTYPE html>
<html lang="en" class="w-full h-full">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <title>Woops!</title>
    <meta name="generator" content={Astro.generator} />
    <script
      src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
    ></script>
  </head>
  <body class="w-full h-full bg-orange-200 dark:bg-[#161616]">
    <div class="absolute top-0 w-full">
      <div class="flex items-center justify-between">
        <div class="w-12 m-3 dark:text-orange-200 dark:opacity-80">
          <a
            aria-label="Arian Ahmadinejad Logo"
            href="/"
            class="text-[#592406] dark:text-orange-200 dark:opacity-80"
            ><LogoIcon />
          </a>
        </div>
        <div class="w-12 m-3">
          <LightDarkButton alt="Dark/Light mode" />
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center w-full h-full">
      <div class="dark:hidden">
        <lottie-player
          src="404_light.json"
          background="transparent"
          speed="0.3"
          style="width: full; height: full "
          loop
          autoplay></lottie-player>
      </div>
      <div class="hidden dark:block">
        <lottie-player
          src="404_dark.json"
          background="transparent"
          speed="0.3"
          style="width: full; height: full "
          loop
          autoplay></lottie-player>
      </div>
      <div>
        <p
          class="text-[#592406] text-xl md:text-4xl font-bold dark:text-white opacity-80"
        >
          This page doesn't exist (yet?)
        </p>
        <div class="flex items-center justify-center p-5">
          <div
            class="w-10 md:w-16 text- dark:text-orange-200 dark:opacity-80 text-[#592406]"
          >
            <a href=".."><HomeIcon /></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
