---
import GithubIcon from "../icons/GithubIcon.astro";
import TwitterIcon from "../icons/TwitterIcon.astro";
import EmailIcon from "../icons/EmailIcon.astro";
import DevpostIcon from "../icons/DevpostIcon.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import DiscordIcon from "../icons/DiscordIcon.astro";
---

<html lang="en" class="h-full w-full">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Arian Ahmadinejad</title>
    </head>
    <body class="bg-orange-200 w-full h-full">
        <div class="flex items-center justify-center w-full h-full">
            <div>
                <img src="" />
            </div>
            <div
                class="flex flex-wrap md:flex-nowrap w-52 gap-5 md:w-6/12 md:gap-5 md:h-20 justify-center"
            >
                <div class="basis-1/3">
                    <TwitterIcon />
                </div>
                <div class="basis-1/3">
                    <GithubIcon />
                </div>
                <div class="basis-1/3">
                    <EmailIcon />
                </div>
                <div class="basis-1/3">
                    <DevpostIcon />
                </div>
                <div class="basis-1/3">
                    <LinkedinIcon />
                </div>
                <div class="basis-1/3">
                    <DiscordIcon />
                </div>
            </div>
        </div>
    </body>
</html>
