---
import GithubIcon from "../icons/GithubIcon.astro";
import TwitterIcon from "../icons/TwitterIcon.astro";
import EmailIcon from "../icons/EmailIcon.astro";
import DevpostIcon from "../icons/DevpostIcon.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import DiscordIcon from "../icons/DiscordIcon.astro";
// import ProfilePhoto from "../images/profilephoto.webp";
// import LogoIcon from "../icons/LogoIcon.astro";
// import { Image } from "@astrojs/image/components";
---

<html lang="en" class="h-full w-full">
    <head>
        <!-- HTML Meta Tags -->
        <meta name="description" content="My personal website" />

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://notclone.tech" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Arian Ahmadinejad" />
        <meta property="og:description" content="My personal website" />
        <meta property="og:image" content="https://notclone.tech/meta.png" />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="twitter:domain" content="notclone.tech" />
        <meta property="twitter:url" content="https://notclone.tech" />
        <meta name="twitter:title" content="Arian Ahmadinejad" />
        <meta name="twitter:description" content="My personal website" />
        <meta name="twitter:image" content="https://notclone.tech/meta.png" />

        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/logo.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Arian Ahmadinejad</title>
    </head>
    <body class="bg-orange-200 w-full h-full">
        <!-- <div class=" w-10">
            <LogoIcon />
        </div> -->
        <div
            class="flex flex-col items-center justify-center w-auto h-full gap-10"
        >
            <div class="flex gap-5">
                <div class="border-[#592406] border-4 rounded-full w-fit">
                    <!-- <Image
                        src={ProfilePhoto}
                        format={"webp"}
                        width={200}
                        alt="test"
                        class="rounded-full"
                    /> -->
                </div>
                <div class="flex flex-col justify-center">
                    <h1 class="text-4xl font-bold">Arian Ahmadinejad</h1>
                    <h2 class="text-2xl font-bold">CS Student</h2>
                </div>
            </div>

            <div
                class="flex flex-wrap md:flex-nowrap w-52 gap-5 md:w-5/12 md:gap-8 md:h-20 justify-center"
            >
                <div class="basis-1/3">
                    <a href="https://twitter.com/TheArian81"><TwitterIcon /></a>
                </div>
                <div class="basis-1/3">
                    <a href="https://github.com/arian81/"><GithubIcon /></a>
                </div>
                <div class="basis-1/3">
                    <a href="mailto:ahmadinejadarian@gmail.com"
                        ><EmailIcon />
                    </a>
                </div>
                <div class="basis-1/3">
                    <a href="https://devpost.com/arian81"><DevpostIcon /></a>
                </div>
                <div class="basis-1/3">
                    <a href="https://www.linkedin.com/in/arian81/"
                        ><LinkedinIcon />
                    </a>
                </div>
                <div class="basis-1/3">
                    <a href="https://discordapp.com/users/412279988541456387"
                        ><DiscordIcon />
                    </a>
                </div>
            </div>
            <a href="resume.pdf">
                <div class="bg-amber-900/50 p-6 rounded-full">
                    <h1 class="text-[#592406] text-4xl font-bold">Resume</h1>
                </div>
            </a>
        </div>
    </body>
</html>
