---
import GithubIcon from "../icons/GithubIcon.astro";
import TwitterIcon from "../icons/TwitterIcon.astro";
import EmailIcon from "../icons/EmailIcon.astro";
import DevpostIcon from "../icons/DevpostIcon.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import DiscordIcon from "../icons/DiscordIcon.astro";
import Copyright from "../components/Copyright.astro";
import LogoIcon from "../icons/LogoIcon.astro";
import LightDarkButton from "../components/LightDarkButton.astro";
import LastFm from "../components/LastFM";
---

<!-- TODO: Add navbar -->
<html lang="en" class="w-full h-full" data-theme="light">
    <head>
        <!-- HTML Meta Tags -->
        <meta name="description" content="My personal website" />

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://notclone.tech" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Arian Ahmadinejad" />
        <meta property="og:description" content="My personal website" />
        <meta property="og:image" content="https://notclone.tech/meta.png" />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="twitter:domain" content="notclone.tech" />
        <meta property="twitter:url" content="https://notclone.tech" />
        <meta name="twitter:title" content="Arian Ahmadinejad" />
        <meta name="twitter:description" content="My personal website" />
        <meta name="twitter:image" content="https://notclone.tech/meta.png" />
        <meta charset="utf-8" />
        <!-- Icons for everything -->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#592406" />

        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Arian Ahmadinejad</title>
    </head>
    <body class="bg-orange-200 dark:bg-[#161616] w-full h-full">
        <div
            class="flex flex-col items-center justify-center w-auto h-full max-w-screen-xl gap-10 m-auto"
        >
            <div class="absolute top-0 w-full">
                <div class="flex items-center justify-between">
                    <div class="w-12 m-3 dark:text-orange-200 dark:opacity-80">
                        <a
                            href="./"
                            class="text-[#592406] dark:text-orange-200 dark:opacity-80"
                            ><LogoIcon />
                        </a>
                    </div>
                    <div class="w-12 m-3">
                        <LightDarkButton />
                    </div>
                </div>
            </div>

            <div class="flex gap-5">
                <div
                    class="border-[#592406] border-4 rounded-full w-fit dark:border-orange-200 dark:opacity-80"
                >
                </div>
                <div class="flex flex-col justify-center">
                    <h1
                        class="text-black text-2xl md:text-4xl font-bold dark:text-[#ccc]"
                    >
                        Arian Ahmadinejad
                    </h1>
                    <h2 class="text-black text-2xl font-bold dark:text-[#ccc]">
                        CS Student
                    </h2>
                </div>
            </div>

            <div
                class="flex flex-wrap justify-center w-32 gap-5 md:flex-nowrap md:w-5/12 md:gap-8 md:h-20"
            >
                <div
                    class="basis-1/3 tooltip tooltip-accent tooltip-left md:tooltip md:tooltip-accent dark:tooltip-secondary"
                    data-tip="Twitter"
                >
                    <a
                        href="https://twitter.com/TheArian81"
                        aria-label="Twitter"
                        class="text-[#592406] dark:text-[#ccc]"
                        ><TwitterIcon />
                    </a>
                </div>
                <div
                    class="basis-1/3 tooltip tooltip-accent tooltip-right md:tooltip md:tooltip-accent dark:tooltip-secondary"
                    data-tip="Github"
                >
                    <a
                        href="https://github.com/arian81/"
                        aria-label="Github"
                        class="text-[#592406] dark:text-[#ccc]"
                        ><GithubIcon />
                    </a>
                </div>
                <div
                    class="basis-1/3 tooltip tooltip-accent tooltip-left md:tooltip md:tooltip-accent dark:tooltip-secondary"
                    data-tip="Email"
                >
                    <a
                        href="mailto:ahmadinejadarian@gmail.com"
                        aria-label="Email"
                        class="text-[#592406] dark:text-[#ccc]"
                        ><EmailIcon />
                    </a>
                </div>
                <div
                    class="basis-1/3 tooltip tooltip-accent tooltip-right md:tooltip md:tooltip-accent dark:tooltip-secondary"
                    data-tip="Devpost"
                >
                    <a
                        href="https://devpost.com/arian81"
                        aria-label="Devpost"
                        class="text-[#592406] dark:text-[#ccc]"
                        ><DevpostIcon />
                    </a>
                </div>
                <div
                    class="basis-1/3 tooltip tooltip-accent tooltip-left md:tooltip md:tooltip-accent dark:tooltip-secondary"
                    data-tip="Linkedin"
                >
                    <a
                        href="https://www.linkedin.com/in/arian81/"
                        aria-label="Linkedin"
                        class="text-[#592406] dark:text-[#ccc]"
                        ><LinkedinIcon />
                    </a>
                </div>
                <div
                    class="basis-1/3 tooltip tooltip-accent tooltip-right md:tooltip md:tooltip-accent dark:tooltip-secondary"
                    data-tip="Discord"
                >
                    <a
                        href="https://discordapp.com/users/412279988541456387"
                        aria-label="Discord"
                        class="text-[#592406] dark:text-[#ccc]"
                        ><DiscordIcon />
                    </a>
                </div>
            </div>

            <a
                class="btn btn-accent btn-outline btn-lg rounded-full border-[3px] dark:text-[#ccc] dark:border-[#ccc] dark:hover:bg-[#ccc] dark:hover:text-black dark:hover:border-[#ccc]"
                href="resume.pdf">Resume</a
            >
            <div class="absolute bottom-0 right-0 z-10 w-full md:w-fit md:p-4">
                <LastFm client:only />
            </div>
            <Copyright />
        </div>
    </body>
</html>
