---
import App from "../components/App";
---

<!DOCTYPE html>
<html lang="en" class="w-full h-full">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="w-full h-full bg-orange-200"
    ><div class="flex items-center justify-center w-full h-full">
      <App client:load />
    </div></body
  >
</html>
