---
import LogoIcon from "../icons/LogoIcon.astro";
import Info from "./Info.astro";
import LightDarkButton from "./LightDarkButton.astro";
---

<div class="flex items-center justify-between">
  <div class="w-8 md:w-12 dark:text-orange-200 dark:opacity-80">
    <a
      aria-label="Arian Ahmadinejad Logo"
      href="./"
      class="text-[#592406] dark:text-orange-200 dark:opacity-80"
      ><LogoIcon />
    </a>
  </div>
  <Info />
  <div class="w-10 md:w-12">
    <LightDarkButton alt="Dark/Light mode" />
  </div>
</div>
