---
---

<button id="theme-button" class="w-full" onclick="toggleTheme()"> </button>

<script defer is:inline>
    function automaticTheme() {
        if (localStorage.theme === "dark") {
            document.documentElement.classList.add("dark");
            document.getElementById("theme-button").innerHTML =
                '<img src="../../dark.svg" alt="light mode sun" width="full" height="full">';
        } else if (localStorage.theme === "light") {
            document.documentElement.classList.remove("dark");
            document.getElementById("theme-button").innerHTML =
                '<img src="../../light.svg" alt="dark mode moon" width="full" height="full">';
        } else {
            // auto case
            if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                document.documentElement.classList.add("dark");
                document.getElementById("theme-button").innerHTML =
                    '<img src="../../dark-auto.svg" style="opacity:0.8" alt="auto mode sun" width="full" height="full">';
            } else {
                document.documentElement.classList.remove("dark");
                document.getElementById("theme-button").innerHTML =
                    '<img src="../../light-auto.svg" alt="auto mode moon" width="full" height="full">';
            }
        }
    }

    function toggleTheme() {
        if (localStorage.theme === "dark") {
            localStorage.theme = "light";
        } else if (localStorage.theme === "light") {
            localStorage.theme = "auto";
        } else if (localStorage.theme === "auto") {
            localStorage.theme = "dark";
        } else {
            localStorage.theme = "auto";
        }
        automaticTheme();
    }
    automaticTheme();
</script>
