---
import GithubIcon from "../icons/GithubIcon.astro";
import TwitterIcon from "../icons/TwitterIcon.astro";
import EmailIcon from "../icons/EmailIcon.astro";
import DevpostIcon from "../icons/DevpostIcon.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import DiscordIcon from "../icons/DiscordIcon.astro";
---

<div
  class="flex flex-wrap justify-center w-48 gap-5 md:flex-nowrap md:w-5/12 md:gap-8 md:h-20"
>
  <div
    class="basis-1/3 tooltip tooltip-accent tooltip-left md:tooltip md:tooltip-accent dark:tooltip-secondary"
    data-tip="Twitter"
  >
    <a
      href="https://twitter.com/TheArian81"
      aria-label="Twitter"
      class="text-[#592406] dark:text-[#ccc]"
      ><TwitterIcon />
    </a>
  </div>
  <div
    class="basis-1/3 tooltip tooltip-accent tooltip-right md:tooltip md:tooltip-accent dark:tooltip-secondary"
    data-tip="Github"
  >
    <a
      href="https://github.com/arian81/"
      aria-label="Github"
      class="text-[#592406] dark:text-[#ccc]"
      ><GithubIcon />
    </a>
  </div>
  <div
    class="basis-1/3 tooltip tooltip-accent tooltip-left md:tooltip md:tooltip-accent dark:tooltip-secondary"
    data-tip="Email"
  >
    <a
      href="mailto:hello@arian.gg"
      aria-label="Email"
      class="text-[#592406] dark:text-[#ccc]"
      ><EmailIcon />
    </a>
  </div>
  <div
    class="basis-1/3 tooltip tooltip-accent tooltip-right md:tooltip md:tooltip-accent dark:tooltip-secondary"
    data-tip="Devpost"
  >
    <a
      href="https://devpost.com/arian81"
      aria-label="Devpost"
      class="text-[#592406] dark:text-[#ccc]"
      ><DevpostIcon />
    </a>
  </div>
  <div
    class="basis-1/3 tooltip tooltip-accent tooltip-left md:tooltip md:tooltip-accent dark:tooltip-secondary"
    data-tip="Linkedin"
  >
    <a
      href="https://www.linkedin.com/in/arian81/"
      aria-label="Linkedin"
      class="text-[#592406] dark:text-[#ccc]"
      ><LinkedinIcon />
    </a>
  </div>
  <div
    class="basis-1/3 tooltip tooltip-accent tooltip-right md:tooltip md:tooltip-accent dark:tooltip-secondary"
    data-tip="Discord"
  >
    <a
      href="https://discordapp.com/users/412279988541456387"
      aria-label="Discord"
      class="text-[#592406] dark:text-[#ccc]"
      ><DiscordIcon />
    </a>
  </div>
</div>
