[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf = "*"
tiktoken = "*"
openai = "*"
python-dotenv = "*"
flask = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.9"
